body {
    padding: 0;
    margin: 0;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgba(81, 50, 119, 0.6), rgba(117, 133, 35, 0.6)), url('https://images.pexels.com/photos/4087992/pexels-photo-4087992.jpeg?auto=compress&cs=tinysrgb&w=400');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.contact-container {
    z-index: 4;
    width: 100vw;
    height: max-content;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: -10px;
}

#profile-pic {
    width: 55px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

#upwork-logo {
    height: 29px;
    width: px;
    position: relative;
    top: 2px;
}

.social-logo {
    font-size: 30px;
    border-radius: 50%;
    color: white;
}

.social-logo:hover {
    filter: brightness(85%);
}

.container {
    position: relative;
    top: -20px;
    height: 80vh;
    border: 3px solid tomato;
    flex-direction: column;
    display: flex;
    padding: 20px 0px;
    overflow: auto;
}

.pad-bank {
    width: 90vw;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.drum-pad {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    user-select: none;
    height: 70px;
    width: 25vw;
    border: 2px solid blue;
    font-size: 30px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.drum-pad:active {
    scale: 0.99
}

.drum-pad:hover {
    background: rgb(230, 139, 3);
}

.controls {
    text-align: center;
    margin: auto;
}

.power_control {
    line-height: 0;
    margin-top: 22px;
}

.controls_title {
    font-size: 25px;
}

.switch {
    height: 30px;
    width: 70px;
    line-height: 30px;
    color: rgb(2, 2, 189);
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    border: 3px solid black;
    margin: auto;
    background-color: black;
}

.switch:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.sliderButton {
    display: inline-block;
    margin: 0px;
    user-select: none;
    text-align: center;
    margin: 0;
    height: 100%;
    width: 30px;
    background: rgb(17, 201, 171);
}

.powerShift {
    position: relative;
    left: 40px;
}

.values {
    height: 50px;
    width: 200px;
    margin-top: 24px;
    background: rgb(87, 83, 83);
}

#display {
    margin: auto;
    font-size: 22px;
    padding-top: 13px;
    color: white;
}

@media screen and (min-width: 450px) {
    .contact-container {
        width: 400px;
        align-items: center;
    }

    .social-logo {
        font-size: 35px;
        margin-top: 0px;
    }

    .container {
        padding: 25px;
    }

    .pad-bank {
        width: 380px;
        height: 300px;
    }

    .drum-pad {
        height: 70px;
        width: 100px;
        margin: 5px;
    }
}


@media screen and (min-width: 700px) {
    .contact-container {
        bottom: 5px;
    }

    #profile-pic {
        position: relative;
        top: 10px;
    }

    .container {
        flex-direction: initial;
        height: max-content;
        width: max-content;
    }

    .drum-pad {
        margin: 10px;
    }

    .social-logo {
        margin-top: 20px;
    }
}